.create-dataset-modal {
  top: 50px;
}

.create-dataset-modal form .radio-option-description {
  color: #5d6f85;
}

.create-dataset-modal form .radio:first-child {
  margin-bottom: 1rem;
}

.create-dataset-modal form .radio .radio-label {
  color: #8c9cb0;
}

.create-dataset-modal form .radio.checked .radio-label {
  color: #608fc5;
}