.datasets-view .dataset-selector .section-header {
  padding: 15px;
}

.datasets-view .dataset-selector .section-header .add-icon {
  float: right;
  width: 20px;
  margin-top: 2px;
  cursor: pointer;
}

.datasets-view .section-header .title {
  font-size: 18px;
  font-weight: 700;
}