.loading {
    position: relative;
    height: 15rem;
  }
  
  .item {
    padding: 0;
    border-top: none;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .table td {
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .meta {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-bottom: 0;
  }
  
  .resultCounts {
    width: 40%;
    display: inline-block;
  }
  
  .listControls {
    width: 60%;
    display: inline-block;
    text-align: right;
  }
  
  .beforeList {
    padding: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: 1px solid #dfe3e9;
  }
  
  .afterList {
    padding: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: 1px solid #dfe3e9;
  }
  
  .pagination {
    text-align: center;
    margin-top: 0.25rem;
  }
  
  .pagination :global(.pagination) {
    margin: 0;
  }
  
  .loadingPanel {
    position: relative;
  }
  
  .loadingOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.4;
    z-index: 3;
  }

  .dw-PaginatedTable :global(nav) {
    text-align: center;
  }

  .dw-PaginatedTable :global(.list-group-item) {
    text-align: center;
  }

  .dw-PaginatedTable :global(.table-responsive) {
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    .pagination :global(.pagination) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .pagination :global(.pagination li:first-child),
    .pagination :global(.pagination li:last-child) {
      width: 50%;
      margin-bottom: 1rem;
    }
  
    .pagination :global(.pagination li:first-child) {
      order: -2;
    }
  
    .pagination :global(.pagination li:last-child) {
      order: -1;
    }
  
    .pagination :global(.pagination li:first-child a),
    .pagination :global(.pagination li:last-child a) {
      display: block;
      width: 100%;
      padding: 0.5rem;
    }
  }
  